/NetAspireApp/.vs/NetAspireApp
/NetAspireApp/NetAspireApp.ApiService/bin/Debug/net8.0
/NetAspireApp/NetAspireApp.ApiService/obj
/NetAspireApp/NetAspireApp.AppHost/bin/Debug/net8.0
/NetAspireApp/NetAspireApp.AppHost/obj
/NetAspireApp/NetAspireApp.ServiceDefaults/bin/Debug/net8.0
/NetAspireApp/NetAspireApp.ServiceDefaults/obj
/NetAspireApp/NetAspireApp.Web/bin/Debug/net8.0
/NetAspireApp/NetAspireApp.Web/obj
/NetAspireApp/NetAspireApp.ApiService/bin/Release/net8.0
/NetAspireApp/.vs/ProjectEvaluation
/NetAspireApp/NetAspireApp.AppHost/bin/Release/net8.0
/NetAspireApp/NetAspireApp.Web/bin/Release/net8.0
/NetAspireApp/NetAspireApp.ServiceDefaults/bin/Release/net8.0
/NetAspireApp/NetAspireApp.AppHost/aspirate.json
/NetAspireApp/NetAspireApp.AppHost/manifest.json
/NetAspireApp/NetAspireApp.AppHost/aspirate-output